AWS_REGION=us-east-1
USERS_TABLE_NAME=login
MUSIC_TABLE_NAME=music
SUBSCRIPTIONS_TABLE_NAME=subscriptions
S3_BUCKET_NAME=music-shared-private-covers-REPLACE
PRESIGNED_URL_TTL=3600
CORS_ALLOW_ORIGINS=http://lambdax-frontend-REPLACE.s3-website-us-east-1.amazonaws.com
